DATA LOADING

In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kbell\appdata\local\anaconda3\envs\module5\lib\site-packages (2.2.0)
Requirement already satisfied: numpy<2,>=1.23.2 in c:\users\kbell\appdata\local\anaconda3\envs\module5\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\kbell\appdata\local\anaconda3\envs\module5\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kbell\appdata\local\anaconda3\envs\module5\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kbell\appdata\local\anaconda3\envs\module5\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\kbell\appdata\local\anaconda3\envs\module5\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
# Reading in the data
import pandas as pd

df = pd.read_json('jeopardy.json')
df.dtypes

C:\Users\kbell\AppData\Local\Temp\ipykernel_24684\1900014419.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

category       object
air_date       object
question       object
value          object
answer         object
round          object
show_number     int64
dtype: object

DATA EXPLORATION

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 216930 entries, 0 to 216929
Data columns (total 7 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   category     216930 non-null  object
 1   air_date     216930 non-null  object
 2   question     216930 non-null  object
 3   value        213296 non-null  object
 4   answer       216930 non-null  object
 5   round        216930 non-null  object
 6   show_number  216930 non-null  int64
dtypes: int64(1), object(6)
memory usage: 13.2+ MB

1. All dtypes but show_number are objects--may need to convert some to integer
2. 216930 rows of data
3. Will focus on 'value' column

DATA PROCESSING

In [4]:
df = df.sort_values('category')
df

,category,air_date,question,value,answer,round,show_number
43802,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Riddle me this, riddle me that, who's afraid...",$400,Batman Forever,Jeopardy!,4658
43797,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Blast this Christmas music! It's joyful and ...",$200,How the Grinch Stole Christmas,Jeopardy!,4658
43807,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Good morning! And in case I don't see you, g...",$600,The Truman Show,Jeopardy!,4658
43813,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Hi. Is there a problem with your service?""'",$800,The Cable Guy,Jeopardy!,4658
43819,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Here I come to save the day!""'",$1000,Man on the Moon,Jeopardy!,4658
...,...,...,...,...,...,...,...
79235,“WH”AT IS IT?,2001-06-22,'You'll find this capital of the Yukon Territo...,$600,Whitehorse,Double Jeopardy!,3885
79224,“WH”AT IS IT?,2001-06-22,'It's a capricious idea carried out on the spu...,$600,whim,Double Jeopardy!,3885
79230,“WH”AT IS IT?,2001-06-22,'Look! Up in the sky! It's a helicopter! No...,$800,whirlybird,Double Jeopardy!,3885
79218,“WH”AT IS IT?,2001-06-22,"'In a Manhattan cocktail, it's combined with v...",$400,whiskey,Double Jeopardy!,3885
79213,“WH”AT IS IT?,2001-06-22,"'In a song from “Snow White”, it's what you do...",$200,whistle,Double Jeopardy!,3885

In [5]:
df = df.reset_index(drop=True)
df

,category,air_date,question,value,answer,round,show_number
0,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Riddle me this, riddle me that, who's afraid...",$400,Batman Forever,Jeopardy!,4658
1,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Blast this Christmas music! It's joyful and ...",$200,How the Grinch Stole Christmas,Jeopardy!,4658
2,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Good morning! And in case I don't see you, g...",$600,The Truman Show,Jeopardy!,4658
3,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Hi. Is there a problem with your service?""'",$800,The Cable Guy,Jeopardy!,4658
4,A JIM CARREY FILM FESTIVAL,2004-12-01,"'""Here I come to save the day!""'",$1000,Man on the Moon,Jeopardy!,4658
...,...,...,...,...,...,...,...
216925,“WH”AT IS IT?,2001-06-22,'You'll find this capital of the Yukon Territo...,$600,Whitehorse,Double Jeopardy!,3885
216926,“WH”AT IS IT?,2001-06-22,'It's a capricious idea carried out on the spu...,$600,whim,Double Jeopardy!,3885
216927,“WH”AT IS IT?,2001-06-22,'Look! Up in the sky! It's a helicopter! No...,$800,whirlybird,Double Jeopardy!,3885
216928,“WH”AT IS IT?,2001-06-22,"'In a Manhattan cocktail, it's combined with v...",$400,whiskey,Double Jeopardy!,3885
216929,“WH”AT IS IT?,2001-06-22,"'In a song from “Snow White”, it's what you do...",$200,whistle,Double Jeopardy!,3885

In [6]:
# Using label encoder to convert value dytpe to integer
from sklearn.preprocessing import LabelEncoder

le=LabelEncoder()
df['category'] = le.fit_transform(df['category'])
df['air_date'] = le.fit_transform(df['air_date'])
df['question'] = le.fit_transform(df['question'])
df['value'] = le.fit_transform(df['value'])
df['answer'] = le.fit_transform(df['answer'])
df['round'] = le.fit_transform(df['round'])

In [7]:
# Defining input (X) and predictor (y) variables
from sklearn.model_selection import train_test_split

X = df.drop('value',axis=1)
y = df['value']

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.25,random_state = True)

MODEL BUILDING & TRAINING - Gaussian

In [8]:
from sklearn.naive_bayes import GaussianNB

model = GaussianNB()

model.fit(X_train,y_train);

MODEL EVALUATION - GAUSSIAN

In [9]:
from sklearn.metrics import (
    accuracy_score,
    f1_score,
    classification_report
)

In [10]:
y_pred = model.predict(X_test)

accuray = accuracy_score(y_pred,y_test)
f1 = f1_score(y_pred,y_test,average='weighted')

print("Accuracy:", accuray)
print("F1 score:", f1)

Accuracy: 0.15459222244758727
F1 score: 0.18434875848994275

In [11]:
#  Trying to get more information on the different indicators of poor performance -- many indicators have division by zero?
print(f'Classication Report: \n{classification_report(y_test,y_pred)}')

Classication Report:
              precision    recall  f1-score   support

           0       0.00      0.00      0.00       510
           2       0.00      0.00      0.00        15
           4       0.00      0.00      0.00         1
           5       0.00      0.00      0.00       106
           7       0.00      0.00      0.00         1
           9       0.00      0.00      0.00        19
          10       0.00      0.00      0.00         1
          11       0.00      0.00      0.00        57
          12       0.00      0.00      0.00         1
          14       0.00      0.00      0.00       142
          16       0.00      0.00      0.00         1
          17       0.00      0.00      0.00        50
          18       0.00      0.00      0.00        11
          20       0.00      0.00      0.00        47
          22       0.00      0.00      0.00         1
          24       0.00      0.00      0.00         4
          25       0.00      0.00      0.00         6
          26       0.00      0.00      0.00         1
          27       0.00      0.00      0.00         1
          28       0.12      0.32      0.17      2259
          29       0.00      0.00      0.00      4895
          33       0.00      0.00      0.00         1
          34       0.00      0.00      0.00         1
          35       0.11      0.37      0.17      2755
          36       0.00      0.00      0.00         1
          42       0.00      0.00      0.00      2733
          44       0.00      0.00      0.00       390
          45       0.00      0.00      0.00         1
          46       0.00      0.00      0.00         1
          47       0.00      0.00      0.00         4
          49       0.00      0.00      0.00        31
          51       0.00      0.00      0.00         4
          53       0.00      0.00      0.00        38
          54       0.00      0.00      0.00        62
          55       0.00      0.00      0.00        26
          56       0.00      0.00      0.00         4
          58       0.00      0.00      0.00         9
          60       0.00      0.00      0.00         1
          63       0.20      0.08      0.12      7664
          64       0.13      0.20      0.16      2854
          65       0.00      0.00      0.00         1
          66       0.00      0.00      0.00         1
          68       0.00      0.00      0.00       176
          71       0.00      0.00      0.00        12
          73       0.00      0.00      0.00         1
          74       0.00      0.00      0.00         1
          75       0.00      0.00      0.00        13
          77       0.00      0.00      0.00        12
          79       0.00      0.00      0.00        16
          80       0.00      0.00      0.00         2
          81       0.00      0.00      0.00         8
          82       0.00      0.00      0.00         2
          84       0.13      0.07      0.09      2180
          87       0.00      0.00      0.00        89
          90       0.00      0.00      0.00        11
          91       0.00      0.00      0.00         1
          93       0.00      0.00      0.00         5
          94       0.00      0.00      0.00         5
          95       0.00      0.00      0.00         5
          97       0.00      0.00      0.00         1
          98       0.00      0.00      0.00         4
          99       0.20      0.29      0.23     10539
         100       0.00      0.00      0.00         2
         101       0.00      0.00      0.00        59
         104       0.00      0.00      0.00         9
         106       0.00      0.00      0.00         4
         108       0.00      0.00      0.00         2
         109       0.00      0.00      0.00         6
         110       0.00      0.00      0.00         1
         111       0.00      0.00      0.00         3
         113       0.09      0.22      0.13      2214
         114       0.00      0.00      0.00         1
         115       0.00      0.00      0.00        23
         117       0.00      0.00      0.00         1
         119       0.00      0.00      0.00         4
         120       0.00      0.00      0.00         1
         121       0.00      0.00      0.00         3
         123       0.00      0.00      0.00         1
         124       0.00      0.00      0.00      5046
         125       0.00      0.00      0.00         1
         126       0.00      0.00      0.00         7
         127       0.00      0.00      0.00         4
         128       0.00      0.00      0.00         1
         130       0.00      0.00      0.00         1
         131       0.00      0.00      0.00         3
         132       0.00      0.00      0.00        42
         133       0.00      0.00      0.00         1
         135       0.00      0.00      0.00         2
         139       0.00      0.00      0.00         2
         140       0.00      0.00      0.00         1
         141       0.00      0.00      0.00         1
         143       0.19      0.22      0.20      8022
         144       0.00      0.00      0.00         1
         145       0.00      0.00      0.00         1
         147       0.00      0.00      0.00         1
         148       0.00      0.00      0.00        21
         149       0.00      0.00      0.00       947

    accuracy                           0.15     54233
   macro avg       0.01      0.02      0.01     54233
weighted avg       0.12      0.15      0.12     54233

C:\Users\kbell\AppData\Local\anaconda3\envs\Module5\Lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\kbell\AppData\Local\anaconda3\envs\Module5\Lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))
C:\Users\kbell\AppData\Local\anaconda3\envs\Module5\Lib\site-packages\sklearn\metrics\_classification.py:1497: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, f"{metric.capitalize()} is", len(result))